body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

#battle-container {
    border: 2px solid #000;
    background-color: #fff;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    position: relative;
}

.move-buttons1, .move-buttons2 {
    margin: 50px;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
.move-button {     
    padding: 8px 16px;     
    margin: 5px;     
    font-size: 12px;     
    cursor: pointer;     
    background-color: #4caf50;     
    color: #fff;     
    border: 2px solid lightgreen;     
    border-radius: 5px; 
}

.monster-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%; /* Adjust the width as needed */
    height: 500px;
}
.table-container {
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    margin-top: 10px; /* Adjust margin as needed */
}

.table-container table {
    width: 100%;
    /* Add any other styles for the table */
}
.sprite-button {
    padding: 5% 10%;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 5px;
}


.hp-bar {
    background-color: #f00;
    height: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.current-hp {
    height: 100%;
    background-color: green;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#textbox1,
#textbox2 {
    position: absolute;
    top: 50px; /* Adjust the top value as needed */

    padding: 8px 16px;
    margin: 5px;
    font-size: 12px;
    border-radius: 5px;
}

#textbox1 {
    left: 10px; /* Adjust the left value as needed */
}

#textbox2 {
    right: 10px; /* Adjust the right value as needed */
}

#monster-container1,
#monster-container2 {
    position: absolute;
    top: 80px; /* Adjust the top value as needed */
    width: calc(47% - 420px); /* Set width to 50% of the container with a margin of 10px on each side */
    height: 45%; /* Adjust the height as needed */
    background-color: #ddd; /* Set a background color or styles as needed */
    border: 1px solid #999; /* Optional border for visual separation */
    border-radius: 5px;
}

#monster-container1 {
    left: 10px; /* Adjust the left value as needed */
}

#monster-container2 {
    right: 10px; /* Adjust the right value as needed */
}

.monster-table-pair {
    width: 40%
}

#middle-button {
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.selected-move {
    background-color: aqua;
}

.monster-image {
    width: 6vw;
    image-rendering: pixelated;
}
